
.menu-controls-visualize {
  position: relative;
  margin: 0 auto;
  width: 20%;
  max-width: 50%;
  height: ($controlsHeight - 6px);
  border: 3px solid #fff;
  opacity: 0.6;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  transition: 0.2s;
  font-size: 2rem;
  line-height: ($controlsHeight - 6px);
  text-align: center;

  &:hover {
    opacity: 1;
    transition: 0.5s;
  }
}

.menu__button, .close-button-view {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 25px;
  cursor: pointer;
  z-index: 2;
}

.close-button-view {
  z-index: 2;
}

.menu__button__icon {
  width: 30px;
  height: 20px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.menu__button__icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.menu__button__icon span:nth-child(1) {
  top: 0px;
}

.menu__button__icon span:nth-child(2) {
  top: 8px;
}

.menu__button__icon span:nth-child(3) {
  top: 16px;
}

.menu__button__icon.open span:nth-child(1) {
  top: 10px;
  transform: rotate(135deg);
}

.menu__button__icon.open span:nth-child(2) {
  opacity: 0;
  left: -30px;
}

.menu__button__icon.open span:nth-child(3) {
  top: 10px;
  transform: rotate(-135deg);
}


.arrow {
  position: relative;
  top: 20%;
  width: 50px;
  height: 70px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  transform: scale(0.8);
}

.next {

  &:hover {
    right: -5px;
  }

}

.next__frame {
  position: absolute;
  right: 10px;
  top: 80%;
  transition: all 0.5s ease-in-out;

  @include respond-to(large) {
    top: 40%;
  };

}

.next__frame.off-screen {
  right: -1000px;
}

.back {
  transform: rotate(180deg) scale(0.8);

  &:hover {
    left: -5px;
  }
}

.back__frame {
  position: absolute;
  left: 10px;
  top: 80%;
  transition: all 0.5s ease-in-out;

  @include respond-to(large) {
    top: 40%;
  };
}

.back.off-screen {
  left: -1000px;
}


.arrow span {
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
}

.arrow span:nth-child(1) {
  top:  15px;
  transform: rotate(45deg);
}

.arrow span:nth-child(2) {
  top:  48px;
  transform: rotate(135deg);
}
