.datasources-menu-view {
  position: absolute;
  width: 100%;
  height: 100%;
}

.datasources-list-menu-intro {
  width: 100%;
  font-size: 2rem;
  text-align: center;
}


.datasources-list-items {
  width: 100%;
  display: flex;
  justify-content: center;
}

.datasources-list-item {
  margin: 20px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.datasources-list-item-title {
  margin-top: 10px;
  text-align: center;
}

.datasources-list-item-thumb {
  border: 1px solid $backgroundColor;
  border-radius: 5px;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  transition: 0.5s;
  &:hover {
    border-color: #ffffff;
    transition: 0.5s;
  }
  &.is-selected {
    border-color: #ffffff;
  }
}

.datasources-list-item-description {
  position: relative;
  width: 100%;
  padding-top: 50px;
  text-align: center;
}
