$backgroundColor: #383A56; // purple

.instruction-frame {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $backgroundColor;
  overflow-y: scroll;
  overflow-x: hidden;
}

#instruction {
  position: relative;
  margin: 30px auto 0 auto;
  width: 60%;
  height: 100%;
  align-items: flex-start;
}

#instruction .split {
  position: relative;
  width: 200px;
  margin: auto;
  border-bottom: 1px solid rgba(255,255,255,0.6);
  margin-top: 30px;
}

#instruction::-webkit-scrollbar {
  display: none;
}

#instruction .demoList {
  display: flex;
  justify-content: center;
}

#instruction .demoItem {
  margin: 20px;
  border-radius: 5px;
  padding: 5px;
}

#instruction .demoItem img {
  border: 1px solid $backgroundColor;

  &:hover {
    border-color: #fff;
  }
}
#instruction .demoTitle {
  text-align: center;
  margin-top: 10px;
}

#instruction a {
  text-decoration: none;
}

#instructionHeader {
  width: 100%;
  //min-height: 130px;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
}

#instructionHeaderName {
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
  padding-right: 150px;
}

#instructionFooter {
  width: 100%;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
}

#forkme {
  width: 150px;
  height: auto;
  position: relative;
  left: -30px;
  border: 0;
}



#instruction header h1 {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  color: #fff;
}

#instruction .inner h3 {
  border-bottom: 1px solid #56567A;
  padding-bottom: 10px;
  margin-bottom: 15px;
  color: #fff;
}

#instruction .feedback {
  //width: 60%;
  margin-bottom: 30px;
  //margin-right: 20px;
}

#instruction .demo a{
  vertical-align: middle;
  margin-left: 10px;
}

#instruction .steps {
  display: flex;
  justify-content: space-around;
}

#instruction .steps .step {
  text-align: center;
}
//
// #instruction ul.steps {
//   text-align: center;
//   padding-left: 0;
//   margin-right: -15px;
//   margin-bottom: 0;
// }

// #instruction ul.steps li {
//   position: relative;
//   display: table;
//   float: left;
//   text-align: left;
//   margin-right: 20px;
//   margin-left: 20px;
//   margin-bottom: 15px;
//   // background: #56567A;
//   padding: 2px 0px 2px 10px;
//   color: #fff;
//   border-radius: 5px;
// }

// #instruction ul.steps li div {
//   display: table-cell;
//   vertical-align: middle;
//   padding-right: 10px;
// }

// #instruction ul.steps li div.ttl {
//   float: left;
//   font-size: 36px;
// }
//

// #instruction ul.steps li:after {
//   content: "";
//   position: absolute;
//   width: 0;
//   height: 0;
//   margin-top: -15px;
//   left: auto;
//   right: -30px;
//   top: 50%;
//   bottom: auto;
//   border-top: 15px solid transparent;
//   border-bottom: 15px solid transparent;
//   border-left: 18px solid #ffffff;
// }

// #instruction ul.steps li:last-child:after {
//   display: none;
// }

#instruction .contacts{
  margin-bottom: 4px;
}
#instruction .contacts p {
  display: inline;
}

#instruction .contacts ul {
  display: inline;
  padding-left: 0;
}

#instruction .contacts ul li {
  display: inline;
  margin-right: 8px;
}


#helpButton {
  cursor: pointer;
  position: absolute;
  right: 10%;
  bottom: 25px;
  font-size: 40px;
  z-index: 90;
}

#feedbackButton {
  cursor: pointer;
  position: absolute;
  right: 35%;
  bottom: 25px;
  font-size: 40px;
  z-index: 90;
}
