$minMenuWidth: 600px;
$menuWidth: 60%;

.root-menu {
}

.menu-button-frame, .close-button-frame {
  position: fixed;
  top: 20px;
  right: 30px;
  width: 40px;
  height: 25px;
  cursor: pointer;
}

.close-button-frame {
  z-index: 2;
}

.menu-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $backgroundColor;
  background: linear-gradient(#5C258D , #4389A2); 
  z-index: 1;
  display: none;
}

.menu-items-frame {
  position: relative;
  min-width: $minMenuWidth;
  width: $menuWidth;
  height: calc(100% - 70px);
  margin: 0 auto;
}

.menu-button-icon {
  width: 100%;
  height: 100%;
  fill: #e5e5e5;

  &:hover {
    fill: #ffffff;
  }
}

.menu-button-icon-close {
  width: 100%;
  height: 100%;
  stroke: #e5e5e5;
  transform: rotate(45deg);

  &:hover {
    stroke: #ffffff;
  }
}

.menu-controls {
position: relative;
min-width: $minMenuWidth;
width: $menuWidth;
height: 70px;
margin: 0 auto;
bottom: 100px;
}

.menu-controls-next, .menu-controls-back {
  position: absolute;
  width: 100px;
  height: 100%;
  background-color: #e6e6e6;
  cursor: pointer;
  display: none;
}

.menu-controls-back {
  left: 0;
}

.menu-controls-next {
    right: 0;
}
