.attributes-menu-view {
  position: absolute;
  width: 100%;
  height: 100%;
}

.attributes-list-menu-intro {
  width: 100%;
  font-size: 2rem;
  text-align: center;
}

.attributes-list-items {
  width: 100%;
  display: flex;
  justify-content: center;
}
